
/* === Kleurvariabelen === */
:root {
  --primary-color: #290052;        /* Diep Paars */
  --header-bg-color: #333;
  --bg-color: #171717;
  --header-text-color: white;
  --nav-link-color: white;
  --nav-link-hover-color: #ffcc00;
  --hero-bg-color: #333;
  --text-color: white;
  --featured-story-margin: 20px;   /* Verkleind voor mobiel */
  --slider-image-border-radius: 10px;
  --footer-bg-color: #333;
  --footer-text-color: white;
  --button-bg-color: #ffcc00;         /* Goudgeel */
  --button-text-color: #333;
  --button-hover-bg-color: #e5b200;   /* Donker Goudgeel */

  --font-family: 'Poppins', sans-serif;
}

/* === Algemene Stijlen === */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

p {
  font-size: 0.8rem;
}



.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
}

/* === Header === */

.active a {
  color: var(--button-bg-color);
}

.back {
  margin-top: 1rem;
}

.back a {
  text-decoration: none;
}

.required {
  color: var(--button-bg-color);
}

.author {
  color: white;
  text-shadow: 0 0 20px var(--button-bg-color);
  display: flex;
}

.status {
  color: var(--button-bg-color);
}

header {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.423));  
  color: var(--header-text-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  /* max-height: 5vh; */
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  /* Nieuwe regel voor mobiel */
  justify-content: space-around;  /* Nieuwe regel voor mobiel */

}

nav li {
  margin: 5px;  /* Aangepast voor mobiel */
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li img  {
height: 25px;
cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-weight: bold;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

/* nav a:hover {
  color: var(--nav-link-hover-color);
  fill: var(--button-hover-bg-color);
} */

nav li :hover {
  fill: var(--nav-link-hover-color);
  color: var(--nav-link-hover-color);
}

/* === Hero-sectie === */
.hero {
  height: 300px;  /* Verkleind voor mobiel */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--hero-text-color);
  text-align: center;
  background-color: var(--hero-bg-color);
}

h1 {
  font-size: 2rem;  /* Verkleind voor mobiel */
  text-shadow: 0 0 10px var(--button-bg-color);
  font-family: 'Alex Brush', cursive;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  text-decoration: underline;
}


/* === Featured Story === */
.featured-story {
  display: block;  /* Aangepast voor mobiel */
  margin-bottom: var(--featured-story-margin);
}

.featured-story__content {
  flex: 1;
  margin-top: 10px;  /* Aangepast voor mobiel */
}

.featured-story h2 {
  font-size: 1.5em;  /* Verkleind voor mobiel */
}

.featured-story p {
  font-size: 1em;  /* Verkleind voor mobiel */
}

/* === Slider === */
.slider__reel {
  display: block;  /* Aangepast voor mobiel */
  overflow-x: auto;  /* Nieuwe regel voor mobiel */
  white-space: nowrap;  /* Nieuwe regel voor mobiel */
}

.slider__image {
  width: 100%;
  max-width: 200px;  /* Verkleind voor mobiel */
  margin-right: 5px;  /* Aangepast voor mobiel */
  border-radius: var(--slider-image-border-radius);
}

/* === Flex Columns === */
.flex-columns {
  display: block;  /* Aangepast voor mobiel */
}

.flex-columns__item {
  flex: 1;
  margin: 0 0 20px 0;  /* Aangepast voor mobiel */
}

.flex-columns h4 {
  margin-top: 10px;  /* Aangepast voor mobiel */
}

.flex-columns__image {
  width: 100%;
  max-width: 150px;  /* Verkleind voor mobiel */
  border-radius: 50%;
}

/* === Footer === */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding-bottom: 100px;
}

/* === Formulier === */
form {
  max-width: 400px;  /* Aangepast voor mobiel */
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  border: black 0.1rem solid;
  cursor: pointer;
}

button a{
  color: var(--button-text-color);
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.button--secondary {
  display: inline-block;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--button-bg-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  border: var(--button-bg-color) 0.1rem solid;
  cursor: pointer;
}

.button--secondary:hover {
  display: inline-block;
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  border: var(--button-bg-color) 0.1rem solid;
  cursor: pointer;
}
.button--secondary:hover img svg {
  stroke: var(--bg-color);
}

.button--tertiary {
  display: inline-block;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  border: white 0.1rem solid;
  cursor: pointer;
}

.button--logout {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: red;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  border: red 0.1rem solid;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 1rem;
}

.button--logout:hover {
  background-color: red;
  color: white;
}

option {
  color: black;
}

/* === Statistieken === */

.statistics-container {
  background-color: var(--bg-color);
  margin: 20px 0;
}


.stats-wrapper {
  display: flex;
  justify-content: space-around;
}

.stat-item {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px var(--button-bg-color);
  width: 30%;
}

.stat-label {
  color: var(--button-bg-color);
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: var(--button-bg-color);
  margin: 0;
}


/* === Opdrachten === */

.opdracht {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px var(--button-bg-color);

  padding: 10px;
  margin-bottom: 10px;

  &-titel {
    font-size: 1.2em;
    font-weight: bold;
  }

  &-auteur-naam {
    color: #666;
  }
}

.opdracht__title {
  margin-top: 0;
}

.opdracht__status {
  color: var(--button-bg-color);
}

/* === Mediums === */

.medium {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
}

.medium-foto {
  width: 50px;
  height: 50px;
}

/* === Mediums === */

.card {
  width: 100%;
  margin-top: 1rem;
  margin: 0 auto;
  border: 1px solid var(--button-bg-color);
  box-shadow: 0 0 10px var(--button-bg-color);


}

/* === About us === */

.grey-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
  color: var(--primary-color);
}

button img {
  vertical-align: middle;
  fill: currentColor;
}

.profile_intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page_title {
  margin: 0;
}

.slogan {
  font-weight: lighter;
  font-size: 0.8rem;
}


.edit-button {
  display: flex;
  align-items: center;
}

.rotated {
  animation: rotate 0.01s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* === Footer === */


footer {
  background-color: var(--footer-bg-color);
  color: #fff;
  padding: 20px 0;
  margin-top: 1rem;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
  justify-content: center;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}